- contribution = @notification.contribution
|Здравствуйте, <strong>#{contribution.user.display_name}</strong>!
br
br
|Ваша поддержка проекту #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} была подтверждена <strong>#{contribution.payment_method}</strong>
|!
br
br
|Сохраните это письмо в качестве подтверждения.
br
br
|Важно:<strong> Если Вы использовали кредитную карту</strong>, в платеже появится #{contribution.payment_method}. К сожалению при оплате кредитной картой нет возможности показать название #{CatarseSettings[:company_name]}.
br
br
|Сумма поддержки: <strong>R$ #{contribution.value}</strong>
br
-if contribution.reward
  |Chosen reward: <strong>#{contribution.reward.description}</strong>
-else
  |Вы не выбрали вознаграждение, если у Вас есть вопросы, свяжитесь с нами #{mail_to CatarseSettings[:email_contact]}
br
|Назад: #{contribution.key}
br
br
|Если проект успешно реализуется <strong>#{contribution.project.expires_at.strftime("%d/%m/%Y")}</strong>, команда проекта свяжется с Вами, чтобы передать вознаграждение. Обычно это происходит примерно через неделю после завершения сбора средств (требуется время для перевода средств).
br
br
|Если проект не наберет необходимую сумму, вы получите отдельное письмо с инструкцией, что можно сделать:
br
|1) поддержать другие проекты внесенными средствами; OR
br
|2) запросить возврат средств.
br
br
|Если Вы хотите связаться с автором проекта #{contribution.project.user.name}, отправьте письмо на #{mail_to contribution.project.user.email}
br
br
|Если у Вас остались вопросы, обратитесь в наш раздел FAQ #{link_to('FAQ', "#{CatarseSettings[:base_url]}/faq")} или напишите нам #{mail_to CatarseSettings[:email_contact]}
br
br
|С уважением,
br
|#{CatarseSettings[:company_name]} 
