strong Вы уверены, что хотите поддержать проект анонимно? 
| Публичная поддержка проектов укрепляет вашу репутацию и повышает ваш рейтинг на SportSupport.
br
br
| Кроме того, сумма вашего пожертвования не будет известна никому, кроме автора проекта, даже если Вы поддерживаете проект публично.
