h2 Хочу поддержать проект, что дальше?
h3 Как поддержать проект?
p Определите сумму взноса и выберете вознаграждение. Нажмите "Поддержать".
h3 Когда платеж считается выполненым?
p Подтверждение платежа может занять до нескольких дней. Если проект не соберет целевую сумму #{@project.display_goal} в срок #{@project.display_expires_at}, вы получите деньги обратно на свой баланс на #{CatarseSettings[:company_name]}.
h3 Получу ли я деньги обратно, если проект не реализуется?
p Да. Вы получите деньги обратно на свой баланс на #{CatarseSettings[:company_name]}.
h3 Если мне не нужен баланс на #{CatarseSettings[:company_name]}?
p Перейдите по ссылке #{link_to t('credits.title'), user_path(current_user, anchor: :credits), :target => :_blank} tab и запросите возврат средств. Если Вы платили кредитной картой возврат будет осуществлен следующим счетом. Если Вы платили дебитовой картой или через банк, обратитесь в Ваш банк за помощью.
h3 Как получить вознаграждение при осуществлении проекта?
p Как только вознаграждение будет готово автор проекта #{link_to @project.user.display_name, user_path(@project.user)} свяжется с Вами.
