| Hi
- if @resource.name
  | , #{@resource.name}!
br
br
| Забыли пароль? Нажмите сюда для изменения пароля 
= link_to('set your password', edit_password_url(@resource, reset_password_token: @resource.reset_password_token))
br
| Если у Вас другая проблема, напишите нам 
= link_to 'here', "http://suporte.catarse.me/knowledgebase", target: '__blank'
br
br
| Best,
br
= Catarsesettings[:company_name]
